
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles will go here later */

/* Fade Slide Up Animation hero */
@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-slide-up {
    opacity: 0;
    animation: fadeSlideUp 0.8s ease-out forwards;
}

/* // Value Props specific animations */
@keyframes vpFadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.vp-hidden {
    opacity: 0;
    transform: translateY(40px);
}

.vp-visible {
    animation: vpFadeSlideUp 0.8s ease-out forwards;
}


/* Tech Stack Animations */
.tech-hidden {
    opacity: 0;
    transform: translateX(30px) scale(0.95);
    transition: transform 0.45s ease, opacity 0.45s ease;
    transition-delay: inherit;

}

.tech-visible {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: transform 0.45s ease, opacity 0.45s ease;
    transition-delay: inherit;

}