/* eslint-disable @typescript-eslint/ban-ts-comment */
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */
/* Global styles will go here later */

/* Fade Slide Up Animation hero */
@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-slide-up {
    opacity: 0;
    animation: fadeSlideUp 0.8s ease-out forwards;
}

/* // Value Props specific animations */
@keyframes vpFadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.vp-hidden {
    opacity: 0;
    transform: translateY(40px);
}

.vp-visible {
    animation: vpFadeSlideUp 0.8s ease-out forwards;
}

/* Tech stack animations */
@keyframes techPopIn {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(20px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.tech-hidden {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
}

.tech-visible {
    animation: techPopIn 0.5s ease-out forwards;
}